<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>nwr</display-name>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>xssEscapeServletFilter</filter-name>
		<filter-class>kr.co.nanwe.cmmn.filter.ComXssEscapeServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssEscapeServletFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.xml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>corsFilter</filter-name>
		<filter-class>kr.co.nanwe.cmmn.filter.CorsFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:egovframework/spring/com/context-*.xml,
			classpath*:egovframework/spring/egov/context-*.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>kr.co.nanwe.ComDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/egovframework/springmvc/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	
	<!-- 전자정부 프레임워크 DispatcherServlet -->
	<servlet>
		<servlet-name>egov</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/egovframework/springmvc/egov-com-*.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>egov</servlet-name>
		<url-pattern>/egov/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/springrest/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<session-config>
		<session-timeout>60</session-timeout>
		<cookie-config>
			<path>/</path>
			<domain>localhost</domain>
		</cookie-config>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/error404.do</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errors/error500.do</location>
	</error-page>
</web-app>